[submodule "foundry_run/lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_run/lib/solmate"]
	path = foundry_run/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "foundry_run/lib/openzeppelin-contracts"]
	path = foundry_run/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
